body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app{
  height: 100vh;
  width: 100vw;
  background: rgb(29, 53, 70);
  display:flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: center;
}


.coin{
  height:300px;
  width:300px;
  background: rgb(159, 197, 219);
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.coinname{
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.coinvalue{
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.coinpercent{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

